/*Style ist nach typ angepasst*/
[name="Schalter"]{
    font-size: 40px;
    color: yellow;
    text-align: center;
}


/* Style the tab */
.place {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.place button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.place button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.place button.active {
    background-color: #ccc;
}

/* Style the tab content */
.room {
    display: none;

    border-top: none;
}